:root {
	--main-color: #282c34;
	--main-light-color: #282c34;
	
}

.br {
	border-radius: 18px;
}

.App {
	padding: 10px;
	margin: 50px;
	background-color: rgb(226, 224, 224);
	display: flex;
	justify-content:flex-start;
	overflow-y: hidden;
	overflow-x: auto;
}

.Case {
	margin: 5px;
	padding: 30px;
	text-align: start;
}

.Btn {
	margin: 10px;
	box-shadow:2px 4px 12px #00000014;
	border: 0;
}

.Btn:active {
	box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.Btn:hover {
	box-shadow:2px 4px 16px #00000029;
	transform:scale3d(1.01,1.01,1.01)
}

.Card {
	width: 400px;
    height: 500px;
    margin: 10px;
    overflow: hidden;
    background-color: rgba(122, 121, 124, 0.541);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
	flex:1 0 auto;
	transition: transform 0.4s ease-in-out;
}

.Card h3 {
	background-color: rgb(202, 200, 204);
}
.Card p {
	overflow-y:auto;
	background-color: MAIN_COLOR;
}


@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 10s linear;
	}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
