.App {
	padding: 10px;
	margin: 50px;
	background-color: rgb(33, 33, 34);
	display: flex;
	justify-content:flex-start;
	overflow-y: hidden;
	overflow-x: auto;
}

.Btn {
	background-color: rgb(44, 29, 73);
	margin: 5px;
	box-shadow: 1px 1px;
	border: 0;
}

.Btn:active {
	box-shadow: -1px -1px;
}
.br {
	border-radius: 5px;
}

.Case {
	margin: 5px;
	padding: 2px;
}

.Card {
    width: 150px;
    height: 200px;
    margin: 5px;
    overflow: hidden;
    background-color: rgb(56, 49, 70);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	flex-shrink: 0;
}

.Card p {
	overflow-y:auto;
}

.Theme {
	background-color: rgb(53, 34, 78);
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 10s linear;
	}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
